<div class="page-header">
    <h1><img src="{{publicRoot}}/images/openApi.png" /> Open API</h1>
</div>

<div>
    <table class="table">
        <tr>
            <td class="td-label">Specs file (<em>yaml</em>): </td>
            <td><a href="{{openApiSpecsUrl}}">open...</a></td>
        </tr>
        <tr>
            <td class="td-label">Swagger UI: </td>
            <td><a href="{{swaggerUiUrl}}">open...</a></td>
        </tr>
        <tr>
            <td class="td-label">Swagger Editor: </td>
            <td>
                {{#if configs.openApi.exposeSwaggerEditor}}
                <a href="{{swaggerEditorsUrl}}">open...</a> {{else}}
                <em>not enabled</em> {{/if}}
            </td>
        </tr>
    </table>
</div>
